.catalog__container {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 170px;
}

.catalog__title {
  margin-bottom: 99px;
  margin-top: 50px;
}